

* {
    box-sizing: border-box;
    margin: 0;
}
.parent{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent div{
    background-color: white;
    margin-bottom: 7px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: calc( 100% - 15px );
    color: black;
}
.parent div p{
    color: #222;
    font-weight: normal;
}

/*One*/
.parent .one{
    padding: 0px 25px;
    text-align: center;
}
.parent .one h1 {
    font-weight: 400;
    padding: 30px 0px;
}
.parent .one h1 span {
    font-weight: 900;
}
.parent .one p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}


/*container*/
.parent .container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parent .container div{
    text-align: left;
    margin: 10px 25px;
    padding: 20px 25px;
    max-width: 345px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 12px 0px;
} 

.parent .container div h2{
    padding: 10px 0px;

}
.parent .container div p{
    padding: 5px 5px 30px 0px;
    font-size: 20px;
}
.parent .container div img{
    margin-left: 230px;
    padding: 10px 0px 0px;
}
.two{
    border-top: 5px solid #5ec8c6;
}
.three{
    border-top: 5px solid #e8555b;
}
.four{
    border-top: 5px solid #f8ad50;
}
.five{
    border-top: 5px solid #559def;
}




@media (min-width: 1000px) {  

    .parent {
        width: calc( 100% - 10px );
        margin: 0px auto;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .parent .one{
        width: calc(500px);
        margin: 0px calc( calc(90%-500px) / 3 ) ;
    } 
    .parent .one p {
        margin: 0px -60px 40px ;
    }
    .parent .container div{
        max-width: calc(342px);
        height: 45vh;
    } 
   .parent .container .two{
        margin: 140px 0px 140px 40px;
    }
    .parent .container .three{
        margin: -20px auto 300px auto;
    }
    .parent .container .four{
        order: 5;
        margin: -260px auto 0px auto;
    }
    .parent .container .five{
        order: 4;
        margin: 140px 40px 140px 0px;
    } 

}
@media (min-width: 700px) and (max-width: 999px) {   
    .parent .container .two{
        margin: 15px 0px;
    }
    .parent .container .three{
        margin: 15px 0px;
    }
    .parent .container .four{
        margin: 15px 0px;
    }
    .parent .container .five{
        margin: 15px 0px;
    }  
}